
frontend/baron/app/src/main/AndroidManifest.xml
frontend/baron/app/src/main/res/menu/bottom_navigation_item.xml
frontend/baron/app/src/main/res/values/strings.xml
frontend/baron/app/src/main/res/values/colors.xml
